.tab-button{
  border:1px solid black;
  cursor: pointer;
  margin-left: 2px;
  padding: 4px 8px;
}
.form{
  border:1px solid black;
  margin-top:6px;
  padding: 4px 4px;
  height:auto;
  width:200px;
  display:grid;
}